.bs-header {
    font-size: 21px;
    padding: 20px 15px;
    text-align: center;
}
.bs-header {
    background-color: #5fb0e4;
    background-image: url(../img/inner-header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 16px;
    margin-top: -20px;
    min-height: 150px;
    padding: 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    position: relative;
    overflow: hidden;
}
/*
.jumboBg{
    background-image: url(../Assets/img/inner-header-bg.jpg);
}*/

/*.page-heading {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    font-size: 24px;
}*/
img.resize{
   width:200px;
   height:300px;
}

img.imgFrameRight {
    padding: 5px 5px 5px 5px;
    margin: 5px 1.8px 10px 10px;
    float: right;
}


.page-heading {
    position: top;
    
    background-color: #000000;


}
.team{
    padding:75px 0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}
a{
    color:#88C425;
}
a:hover{
    text-decoration:none;
    color:#519548;
}
i.red{
    color:#BC0213;
}
.contact-map-box {
    border: 10px solid #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 78px 0 rgba(0,0,0,.11);
    -moz-box-shadow: 0 3px 78px 0 rgba(0,0,0,.11);
    box-shadow: 0 3px 78px 0 rgba(0,0,0,.11);
    margin-bottom: 2%;
    margin-top: 10%;
}

.calendar {
    width: 100%;
	margin: 0 auto;
}
